<app-top-bar></app-top-bar>
<div class="appComponent">
    <div class="imgWrapper" [style.transform]="transformStyle">
        @for (item of img; track $index){
            <img [src]="item" class="imgItem">
        }
    </div>
    <div class="wrapperText">
        <h2>NovaSalud</h2>
        <h1>Más que un hospital, un compromiso para tu bienestar</h1>
        <h4>+20 años de experiencia de cuidado médico especializado</h4>
    </div>
</div>
<app-about-us id="about-us"></app-about-us>
<app-specialities id="specialities"></app-specialities>