.appComponent{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 1907px;
    margin-left: -10px;
}
.imgWrapper{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.imgItem{
    width: 1910px;
    height: 800px;
    object-fit: cover;
    flex-shrink: 0;
    filter: brightness(0.6);
}
.wrapperText{
    color: white;
    width: 600px;
    position: absolute;
    top: 400px;
    left: 250px;
    font-size: 25px;
}
@media (max-width: 1024px) {
    .wrapperText{
        margin-top: 200px;
    }
    .imgItem{
        width: 1700px;
    }
}
@media (max-width: 841px) {
    .wrapperText{
        margin-left: -90px;
    }
    .imgItem{
        width: 1100px;
    }
}
@media (max-width: 768px) {
    .wrapperText{
        margin-top: 500px;
        margin-left: -150px;
    }
}
@media (max-width: 700px) {
    .wrapperText{
        margin-top: 500px;
        margin-left: -180px;
    }
    .imgItem{
        width: 800px;
    }
}
@media (max-width: 660px) {
    .wrapperText{
        margin-top: 500px;
        margin-left: -230px;
    }
    .imgItem{
        width: 600px;
    }
    
}