<app-top-bar></app-top-bar>
<div class="appContainer" #pdfContent>
    <h1>Citas médicas</h1>
    <div class="citasMain">
        <div class="citasContainer">
            @for (item of citas; track $index){
                <div class="citasItem">
                    <div class="doctorContainer">
                        <h2>{{ item.doctor }}</h2>
                        <h2>{{item.fechaCita}}</h2>
                        <h2>{{item.horaCita}}</h2>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="downloadContainer">
  <button class="downloadPDF">
    <img src="assets/img/descargar-pdf.png" width="36px">
    Descargar PDF
  </button>
</div>
