<div class="appContainer">
    <div class="appTitle">
        <h1>¿Quienes somos?</h1>
    </div>
    <div class="aboutUs">
        <p>Nova Salud no es solo un hospital, es un compromiso con la vida, 
            desde 2004 nos hemos consolidado como un referente en medicina de excelencia, combinando 
            profesionales altamente especializados y un enfoque humano que nos distingue</p>
            <div class="aboutusData">
                <div class="aboutusdataMision item" appScrollReveal>
                    <h2>Misión</h2>
                    <img src="assets/img/vision.png" alt="Vision" class="aboutusDataItemImage" width="144px">
                    <h4>Brindar atención médica integral, personalizada y accesible, basada en evidencia científica y calidez humana, para transformar la salud en bienestar duradero.</h4>
                </div>
                <div class="aboutusdataVision item" appScrollReveal>
                    <h2>Visión</h2>
                    <img src="assets/img/mision.png" alt="Mision" class="aboutusDataItemImage" width="144px">
                    <h4>Ser líderes en innovación médica en la región, reconocidos por resultados excepcionales, sostenibilidad y impacto social positivo.</h4>
                </div>
                <div class="aboutusdataValores item" appScrollReveal>
                    <h2>Valores</h2>
                    <img src="assets/img/valor.png" alt="Valores" class="aboutusDataItemImage" width="144px">
                    <ul class="valoresList">
                        <li>Empatía</li>
                        <li>Excelencia</li>
                        <li>Innovación</li>
                        <li>Transparencia</li>
                        <li>Compromiso social</li>
                    </ul>
                </div>
            </div>
            <div class="whyOurs item" appScrollReveal>
                <h2>¿Por qué elegirnos?</h2>
                <img src="assets/img/why.png" alt="Why" class="aboutusDataItemImage" width="244px">
                <div class="whyOursText">
                    <ul>
                        <li>Equipo médico altamente calificado y comprometido.</li>
                        <li>Resultados comprobados: Más del 90% de éxito en cirugias y 0% de infecciones postquirúrgicas en 2024</li>
                        <li>Infraestructura moderna y tecnología de vanguardia.</li>
                        <li>Equipo multidiciplinario: +20 especialistas con certificaciones internacionales</li>
                        <li>Enfoque centrado en el paciente y su bienestar.</li>
                    </ul>
            </div>
        </div>
    </div>
</div>