<div class="appContainer">
  <img src="assets/img/bottomimg.jpg" class="bottomImg" />
  <div class="bottomtextContainer">
    <div class="bottomText">
      <div class="whatsNew">
        <h1>¿Que hay de nuevo?</h1>
        <h3>¿Necesita información sobre la escoliosis?</h3>
        <p>
          La escoliosis es una curvatura lateral de la columna vertebral que
          suele darse en niños, pero que a veces también puede afectar a
          adultos. Una columna vertebral normal está curvada en la parte
          superior del hombro.
        </p>
      </div>
      <div class="staywithUs">
        <h1>Quédate con nosotros</h1>
        <div class="footerItem">
          <img src="assets/img/ubicacion.png" alt="Ubicación" width="30px" />
          <p>Av. Guardia Peruana 884, Lima</p>
        </div>
        <div class="footerItem">
          <img src="assets/img/ring-phone.png" alt="Teléfono" width="30px" />
          <p>+51 952 014 938</p>
        </div>
        <div class="footerItem">
          <img
            src="assets/img/correo-electronico.png"
            alt="Correo electrónico"
            width="30px"
          />
          <p>novasalud&#64;email.com</p>
        </div>
      </div>
    </div>
    <div class="footerContainer">
      <h3>Copyright © 2025 NovaSalud | Todos los derechos reservados</h3>
    </div>
  </div>
</div>
