<app-top-bar></app-top-bar>
<div class="appContainer">
    <img src="assets/img/login-background.png" class="imgBackground">
    <div class="formsContainer">
        <div class="userForm">
            <form class="form1">
                <span class="titulouserForm">Iniciar sesión usuario</span>
                <div class="formContainer">
                    <input type="text" placeholder="Usuario..."><br>
                    <input type="password" placeholder="Contraseña..."><br>
                </div>
                <button>Ingresar</button>
            </form>
            <div class="formSeccion">
                <p>¿No tienes cuenta? <span class="reg">Registrate</span></p>
            </div>
        </div>
        <div class="workerForm">
            <h2>Iniciar Sesión Trabajador</h2>
            <form>
                <label>Usuario:</label>
                <input type="text" placeholder="Usuario..."><br>
                <label>Contraseña:</label>
                <input type="password" placeholder="Contraseña..."><br>
                <button>Ingresar</button>
            </form>
        </div>
    </div>
</div>