<app-top-bar></app-top-bar>
<form [formGroup]="appointmentForm" class="appointmentContainer">
  <div class="step stepSelection">
    <h2>Seleccione especialidad</h2>
    <select class="inputField" formControlName="speciality">
      <option value="" disabled>Seleccione una especialidad</option>
      @for (item of specialities; track $index){
        <option>{{ item.nombre }}</option>
      }
    </select>
    <div *ngIf="appointmentForm.get('speciality')?.invalid && appointmentForm.get('speciality')?.touched" class="error">
      La especialidad es obligatoria.
    </div>
    <select class="inputField" formControlName="doctor">
      <option value="" disabled>Seleccione un doctor</option>
      @for (item of doctors; track $index){
        <option> Dr. {{item.nombre}} {{item.apellido}}</option>
      }
    </select>
    <div *ngIf="appointmentForm.get('doctor')?.invalid && appointmentForm.get('doctor')?.touched" class="error">
      El doctor es obligatorio.
    </div>
  </div>
  <div class="step stepSchedule">
    <h2>Escoja fecha y hora</h2>
    <input type="date" class="inputField" formControlName="date">
    <div *ngIf="appointmentForm.get('date')?.invalid && appointmentForm.get('date')?.touched" class="error">
      La fecha es obligatoria.
    </div>
    <input type="time" class="inputField" formControlName="time">
    <div *ngIf="appointmentForm.get('time')?.invalid && appointmentForm.get('time')?.touched" class="error">
      La hora es obligatoria.
    </div>
  </div>
  <div class="step stepConfirmation">
    <h2>Confirme cita</h2>
    <button type="button" class="primaryButton" (click)="confirmAppointment()">Book Appointment</button>
  </div>
</form>

