<div class="appContainer">
    <h2 class="goBack" (click)="goBack()">Volver</h2>
    <div class="formContainer">
        <h1>Registrar horario</h1>
        <form [formGroup]="doctorRegisterForm" (ngSubmit)="onSubmit()">
            <div class="scheduleRegister">
                <input type="date" formControlName="fecha" placeholder="Fecha" required />
                <input type="time" formControlName="horaInicio" placeholder="Hora inicio" required />
                <input type="time" formControlName="horaFin" placeholder="Hora fin" required />
                <button class="btnForm" type="submit" [disabled]="doctorRegisterForm.invalid">Registrar</button>
            </div>
        </form>
    </div>
    <div class="listscheduleContainer">
        <h1>Horarios registrados</h1>
        <div class="listSchedule">
            @for (item of scheduleList; track $index){
                <div class="scheduleItem">
                    <span>{{item.localDate}}</span>
                    <span class="scheduleDate">{{ item.horaInicio | date: 'dd/MM/yyyy' }}</span>
                    <span class="scheduleTime">{{ item.horaFin | date: 'shortTime' }}</span>
                    <button (click)="deleteSchedule(item.id)">Eliminar</button>
                </div>
            }
        </div>
    </div>
</div>