<app-top-bar></app-top-bar>
<div class="appContainer">
    <div class="userManagementContainer">
        <h2>Gestión de usuarios</h2>    
        <div class="userManagement">
            <button class="doctorRegister" (click)="doctorRegister()">Registrar doctor</button>
            <button class="recepcionistRegister" (click)="recepcionistRegister()">Registrar recepcionista</button>
        </div>
    </div>
    <div class="specialitiesTableContainer">
        <div class="specialitiesTable">
            <table>
                <tr>
                    <th>Especialidades</th>
                </tr>
                <tr>
                    <td>asa</td>
                </tr>
                <tr> 
                    <td>aea</td>
                </tr>
            </table>
        </div>
    </div>
</div>