<div class="appContainer">
  <div class="appTitle">
    <h1>Nuestras <span>Especialidades</span></h1>
  </div>
  <div class="specialities">
    <p class="textTop">
      En NovaSalud, contamos con un equipo de médicos altamente capacitados y
      tecnología de vanguardia para ofrecerte una atención médica de calidad en
      diversas especialidades. Nuestro compromiso es brindarte un diagnóstico
      preciso y un tratamiento efectivo, siempre con un enfoque humano y
      personalizado.
    </p>
    <div class="specialitiesData">
      <div class="specialitiesDataItem item" appScrollReveal>
        <img src="assets/img/ortopedia.png" alt="Ortopedia" class="specialitiesDataItemImage" width="144px"/>
        <h2>Ortopedia</h2>
        <p>Tratamiento de lesiones y enfermedades del sistema musculoesquelético.</p>
      </div>
      <div class="specialitiesDataItem item" appScrollReveal>
        <img src="assets/img/traumatologia.png" alt="Traumatología" class="specialitiesDataItemImage" width="144px"/>
        <h2>Traumatología</h2>
        <p>Diagnóstico y tratamiento de lesiones traumáticas y deportivas.</p>
      </div>
      <div class="specialitiesDataItem item" appScrollReveal>
        <img src="assets/img/cirugia.png" alt="Cirugía General" class="specialitiesDataItemImage" width="144px"/>
        <h2>Cirugía General</h2>
        <p>Intervenciones quirúrgicas para tratar diversas condiciones médicas.</p>
      </div>
      <div class="specialitiesDataItem item" appScrollReveal>
        <img src="assets/img/medicina.png" alt="Medicina Interna" class="specialitiesDataItemImage" width="144px"/>
        <h2>Medicina Interna</h2>
        <p>Atención integral para adultos con enfermedades crónicas y complejas.</p>
      </div>
      <div class="specialitiesDataItem item" appScrollReveal>
        <img src="assets/img/pediatria.png" alt="Pediatría" class="specialitiesDataItemImage" width="144px"/>
        <h2>Pediatría</h2>
        <p>Atención médica integral para niños y adolescentes.</p>
      </div>
      <div class="specialitiesDataItem item" appScrollReveal>
        <img src="assets/img/ginecologia.png" alt="Ginecología" class="specialitiesDataItemImage" width="144px"/>
        <h2>Ginecología</h2>
        <p>Salud del sistema reproductor femenino y atención prenatal.</p>
      </div>
      <div class="specialitiesDataItem item" appScrollReveal>
        <img src="assets/img/cardiologia.png" alt="Cardiología" class="specialitiesDataItemImage" width="144px"/>
        <h2>Cardiología</h2>
        <p>Diagnóstico y tratamiento de enfermedades cardiovasculares.</p>
      </div>
      <div class="specialitiesDataItem item" appScrollReveal>
        <img src="assets/img/dermatologia.png" alt="Dermatología" class="specialitiesDataItemImage" width="144px"/>
        <h2>Dermatología</h2>
        <p>Tratamiento de enfermedades de la piel, cabello y uñas.</p>
      </div>
      <div class="specialitiesDataItem item" appScrollReveal>
        <img src="assets/img/neurologia.png" alt="Neurología" class="specialitiesDataItemImage" width="144px"/>
        <h2>Neurología</h2>
        <p>Diagnóstico y tratamiento de trastornos del sistema nervioso.</p>
      </div>
      <div class="specialitiesDataItem item" appScrollReveal>
        <img src="assets/img/oftalmologia.png" alt="Oftalmología" class="specialitiesDataItemImage" width="144px"/>
        <h2>Oftalmología</h2>
        <p>Atención médica y quirúrgica de enfermedades oculares.</p>
      </div>
    </div>
  </div>
</div>
