.appContainer{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  width: 100%;
  height: 79vh;
}
.imgBackground{
  width: 60%;
  margin-left: -10px;
  filter: blur(5px);
  z-index: -1;
  height: 102.1%;
}
.formsContainer{
  text-align: center;
  background-color: #f1f7fe;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 102.1%;
}
.userForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.topTextContainer{
  width: 50%;
}
.title{
  font-size: 32px;
  margin-right: 450px;
  margin-top: 20px;
}
.subtitle{
  font-size: 22px;
  margin-top: 15px;
  margin-left: -80px;
  width: 220%;
}
.topText{
  display: flex;
  flex-direction: column;
}
.form1{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
}
.form1 button{
  background-color: #0066ff;
  color: #fff;
  border: 0;
  border-radius: 15px;
  padding: 10px 40px;
  cursor: pointer;
  font-weight: bold;
}
.titulouserForm{
  font-size: 30px;
  margin-top: 20px;
}
.formContainer{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 150px;
}
.formContainer input{
  width: 190%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 5px;
}
.reg{
  color: #0066ff;
  font-weight: bold;
}
.formBottom {
    display: flex;
    gap: 30px;
    margin-top: -10px;
}
.checkboxGroup {
    display: flex;
    align-items: center;
    gap: 5px;
}
.formTopMiddle{
  display: flex;
  flex-direction:row;
  width: 210%;
}
@media (max-width:1000px){
  .appContainer{
    display: flex;
    flex-direction: column;
    width: 100.5%;
  }
  .imgBackground{
    width: 103%;
  }
  .formsContainer{
    width: 100%;
  }
  .topTextContainer ,.rolForm label{
    width: 100%;
  }
}
@media (max-width:515px){
  .formContainer .rolForm select{
    width: 330%;
  }
  .formContainer input{
    width: 310%;
  }
  .formTopMiddle{
    width: 360%;
  }
  .rolForm label{
    width: 200%;
  }
}