<app-top-bar></app-top-bar>
<div class="appContainer">
    <img src="assets/img/login-background.png" class="imgBackground">
    <div class="formsContainer">
        <div class="userForm">
            <form class="form1">
                <div class="topText">
                    <span class="title">¡Bienvenido!</span>
                    <span class="subtitle">Porfavor acceda a su cuenta</span>
                </div>
                <span class="titulouserForm">Registrarse</span>
               <div class="formContainer">
                    <div class="formTop">
                        <input type="text" placeholder="Nombre...">
                        <input type="password" placeholder="Apellido...">
                    </div><br>
                    <div class="formMiddle">
                        <input type="text" placeholder="Dni..."><br>
                        <input type="text" placeholder="Numero..."><br>
                    </div><br>
                </div>
                <div class="formBottom">
                    <div class="checkboxGroup">
                        <input type="radio" id="chk_Men" name="sexo">
                        <label for="chk_Men">F</label>
                    </div>
                    <div class="checkboxGroup">
                        <input type="radio" id="chk_Women" name=sexo>
                        <label for="chk_Women">M</label>
                    </div>
                </div>
                <button>Ingresar</button>
            </form>
            <div class="formSeccion1">
                <p>¿Ya tienes cuenta?<span class="reg">Logeate</span></p>
            </div>
        </div>
    </div>
</div>