<app-top-bar></app-top-bar>
<div class="appContainer">
    <img src="assets/img/login-background.png" class="imgBackground">
    <div class="formsContainer">
        <div class="userForm">
            <form class="form1">
                <span class="titulouserForm">Registrarse</span>
                <div class="formContainer">
                    <input type="text" placeholder="Usuario..."><br>
                    <input type="password" placeholder="Contraseña..."><br>
                </div>
                <button>Ingresar</button>
            </form>
            <div class="formSeccion1">
                <p>¿Ya tienes cuenta?<span class="reg">Logeate</span></p>
            </div>
        </div>
    </div>
</div>